Options +FollowSymLinks
IndexIgnore */*
RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{QUERY_STRING} !^(.*)_escaped_fragment_(.*)$
RewriteRule (.*) index.html [L]

RewriteCond %{QUERY_STRING} ^(.*)_escaped_fragment_(.*)$
RewriteRule (.*) snaps/$1/snap.html? [L]


